.screen-header__icons{
    position: relative;
}

.plusIcon{
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    right: 96px;
    bottom: 4px;
}
.main-screen{
    padding: 0px var(--horizontal-space);
}